.os_parts_container {
  margin: 0px auto;
  padding: 0 20px;
  padding: 0 calc(20px + env(safe-area-inset-left));
}

.os_parts_container_fullWith {
  max-width: 100%;
}

.os_parts_container_big {
  max-width: 1340px;
  margin-top: 100px;
}

.os_parts_container_medium {
  max-width: 900px;
}

.os_parts_container_small {
  max-width: 600px;
}
