.container {
  color: #393939;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.title {
  font-size: 18px;
}

.danger {
  margin: 15px 0;
}

.downloadTip {
  font-size: 13px;
  text-align: center;
}
