:local(.container) {
  display: flex;
  height: auto;
  flex-direction: column;
}

:local(.item) {
  margin: 5px 0;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 300ms;
  border-left: 5px solid #fff;
}

:local(.item):hover {
  cursor: pointer;
  background-color: #53caff30;
}

:local(.itemActive) {
  border-color: #0053b3;
  background-color: #53caff30;
}

:local(.link) {
  display: flex;
  flex-direction: row;
  min-height: 35px;
  margin: 5px 40px;
  color: #91a2b0;
}

:local(.icon) {
  height: auto;
  margin-right: 20px;
  margin-top: 5px;
}

:local(.linkName) {
  display: flex;
  height: auto;
  align-items: center;
}
