.container {
  display: flex;
  height: auto;
  flex-direction: column;
}

.item {
  margin: 5px 0;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 300ms;
}

.item:hover {
  cursor: pointer;
  background-color: #53caff30;
}

.itemActive {
  background-color: #53caff30;
  border-right: 8px solid #0053b3;
}

.link {
  display: flex;
  flex-direction: row;
  min-height: 35px;
  margin: 5px 40px;
  color: #b0bac9;
}

.icon {
  height: auto;
  margin-right: 20px;
  margin-top: 5px;
}

.linkName {
  display: flex;
  height: auto;
  align-items: center;
}
