:local(.container) {
  border-radius: 8px;
  padding: 20px;
}

:local(.title) {
}


:local(.divider){
  height: 1px;
  width: 100%;
  text-align: center;
  background-color: #045EFC;
}


:local(.headSubTitle) {
  font-size: 14px;
}

:local(.headSubTitle) {
  font-size: 14px;
}

:local(.headTitle){ 
  font-size: 28px;
}
