.orion_button {
  padding: 25px 40px;
}

.orion_button,
.orion_button:active,
.orion_button:hover {
  text-transform: none;
}

.orion_primary,
.orion_primary:active,
.orion_primary:hover {
  background-color: #07f;
}
