:local(.container) {
  flex: 1;
  display: flex;
  min-height: 100vh;
  -webkit-user-select: none; /* Safari 3.1+ */
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none; /* Firefox 2+ */
  -moz-user-select: -moz-none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  -o-user-select: none;
  user-select: none; /* Standard syntax */
}

:local(.content) {
  flex: 1;
}
