:local(.container) {
  width: 100%;
  margin: 0px 20px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

:local(.container) > h1 {
  background-color: #061b41;
  color: white;
  border-radius: 20px 20px 0 0;
}

:local(.title) {
  text-align: center;
  padding-bottom: 20px;
}

:local(.details) {
  text-align: center;
  font-size: 24px;
  margin-top: auto;
}
:local(.upgradeButton) {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: auto;
}
:local(.getPlan) {
  width: 150px;
  font-size: 15px;
  color: #fff;
  background-color: red;
  border-radius: 8px;
  -webkit-transition-property: font-weight, cursor;
  -webkit-transition-duration: 300ms;
}

:local(.categories) {
  font-size: 19px;
  color: #061b41;
}

:local(.data) {
  color: #686666;
}
