:local(.container) {
  padding: 20px;
  color: #626262;
}

:local(.files) {
}

:local(.table) {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 0 1em;
}

:local(.table) > table {
  border-collapse: collapse;
  width: 100%;
}

:local(.table) > thead {
  color: #a7b0c7;
  font-size: 13px;
  font-weight: 700;
}

:local(.table) > thead > tr > td {
  width: 12%;
  padding: 18px;
  border-bottom: 1px solid #f5f8ff;
  vertical-align: middle;
}

:local(.table) > tbody {
  border: 1px solid #ddd;
  padding: 8px;
}

:local(.table) > tr > th > td {
  border: 1px solid #ddd;
  padding: 8px;
}

:local(.table) > tbody > tr {
  background: #00000007;
  box-shadow: rgba(63, 63, 63, 0.75) 0px 0px 7px -2px;
}

:local(.table) > tbody > tr > td {
  padding: 18px;
  vertical-align: middle;
}

:local(.iconType) {
  max-height: 25px;
}
