:local(.container) {
}

:local(.inputContainer) {
  margin: 10px 0;
}

:local(.loading) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  color: #000;
  margin: 0 20px;
}

:local(.label) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px;
  background-color: #07f;
  color: #fff;
  margin: 0 20px;
  border-radius: 6px;
}

:local(.input) {
  display: none;
}

:local(.progressLine) {
  margin-top: 20px;
  padding: 0 20px;
}
