:local(.container) {
  flex: 1;
  display: flex;
  min-height: 100vh;
  padding: 0 2px;
}

:local(.sidebar) {
  border-right: 1px solid #dcdcdc;
}

:local(.content) {
  flex: 1;
}

.os_container {
  margin: 50px auto !important;
}

.os_container_big {
  max-width: 1340px !important;
}
