:local(.container) {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
  background-image: url('https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  padding: 10px 0;
}

:local(.content) {
  composes: shadow from global;
  width: 500px;
  padding: 40px 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}

:local(.contentInner) {
}

:local(.logoContainer) {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}
