:local(.container) {
  width: 300px;
  height: 100vh;
  padding: 50px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:local(.user) {
  margin: 10px 0;
}

:local(.options) {
  margin: 10px 0;
}

:local(.storage) {
  margin: 10px 0;
}
