.container {
  color: #626262;
}

.files {
}

.vaults {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px 14px -1px #e6ecfe;
  -moz-box-shadow: 4px 6px 14px -1px #e6ecfe;
  box-shadow: 4px 6px 14px -1px #e6ecfe;
}