.container {
  padding: 20px;
  color: #626262;
}

.files {
}

.table {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.table > table {
  border-collapse: collapse;
  width: 100%;
}

.table > thead {
  color: #a7b0c7;
  font-size: 13px;
  font-weight: 700;
}

.table > thead > tr > td {
  width: 12%;
  padding: 18px;
  border-bottom: 1px solid #f5f8ff;
  vertical-align: middle;
}

.table > tbody {
  border: 1px solid #ddd;
  padding: 8px;
}

.table > tr > th > td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table > tbody > tr {
  background: white;
  box-shadow: rgba(63, 63, 63, 0.75) 0px 0px 7px -2px;
}

.table > tbody > tr > td {
  padding: 18px;
  vertical-align: middle;
}

.vaults {
  background-color: white;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px 14px -1px #e6ecfe;
  -moz-box-shadow: 4px 6px 14px -1px #e6ecfe;
  box-shadow: 4px 6px 14px -1px #e6ecfe;
}