:local(.container) {
  margin-top: 20px;
}

:local(.currentPage) {
  font-size: 17px;
  color: #626262;
}

:local(.page) {
  cursor: pointer;
  color: #91a2b0;
  -webkit-transition-property: color;
  -webkit-transition-duration: 300ms;
}

:local(.page):hover {
  color: #0053b3;
}
