:local(.container) {
}

:local(.seats) {
  width: 100%;
  display: flex;
  justify-content: center;
}

:local(.seat) {
  color: #fff;
  font-weight: 700;
  height: 50px;
  width: 150px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

:local(.button) {
  margin: 20px 0;
}
