.container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.containerNoBorder {
  margin-bottom: 20px;
  margin-top: 20px;
}

.title {
  margin-bottom: 10px;
  color: #4e4e4e;
}

.description {
  color: #7d7d7d;
}

.childrenNoBorder {
  margin-top: 40px;
}

.children {
  margin-top: 40px;
}
