:local(.container) {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  padding: 20px;
}

:local(.title) {
  display: flex;
  align-items: center;
}

:local(.subTitle) {
}

:local(.searchBar) {
  font-size: 17px;
  font-weight: 400;
  margin-left: 20px;
}
