:local(.container) {
  border-radius: 8px;
  padding: 20px;
}

:local(.title) {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
}

:local(.headSubTitle) {
  font-size: 14px;
}

:local(.renderRigth){
  display: flex;
  align-items: center;
}

:local(.headSubTitle) {
  font-size: 14px;
}

:local(.headTitle){ 
  font-size: 28px;
}

:local(.searchBar) {
  font-size: 17px;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 10px;
}

:local(.divider){
  height: 1px;
  width: 100%;
  text-align: center;
  background-color: #045EFC;
}

:local(.bradcrumsContainer) {
  display: flex;
}

:local(.addButton) {
}

:local(.header) {
}
