:local(.container) {
  max-height: 25px;
}

:local(.icon) {
  -webkit-transition-property: color;
  -webkit-transition-duration: 300ms;
  margin-right: 10px;
  height: auto;
}

:local(.icon):hover {
  cursor: pointer;
  color: #ff0000;
}
