:local(.container) {
  width: 25px;
  margin: 0 5px;
}

:local(.loading) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px !important;
}

:local(.icon) {
  -webkit-transition-property: color;
  -webkit-transition-duration: 300ms;
  height: auto;
}

:local(.icon):hover {
  cursor: pointer;
  color: #0053b3;
}
