.container {
}

.all {
  margin-left: -10px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.content {
  flex: 1;
  font-size: 25px;
  color: #393939;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.content a {
  color: #393939;
  border-radius: 8px;
  padding: 5px 10px;
}

.content .last {
  border-radius: 8px;
  padding: 5px 10px;
}

.content a:hover {
  background: #53caff30;
}

.right {
  display: flex;
  align-items: center;
}

.divider {
  height: 1px;
  background: #00000017;
  margin: 0 20px;
}
