:local(.container) {
    position: relative;
    margin: auto;
    width: 360px;
    height: 200px;
    color: #fff;
    background-color: #112031;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    font-family: 'Space Mono', monospace;
}
:local(.container > div) {height: 100%;}
:local(.logo){
    margin: 0px 16px;
    margin-top: 10px;
}
:local(.code){
    text-align: center;
    font-size: 25px;
}
:local(.nameAndDate){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px;
}
:local(.name){
    text-align: center;
}
:local(.date){
    text-align: center;
}
