:local(.container) {
  padding: 20px;
  background-color: white;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px 14px -1px #e6ecfe;
  -moz-box-shadow: 4px 6px 14px -1px #e6ecfe;
  box-shadow: 4px 6px 14px -1px #e6ecfe;
}

:local(.file) {
}

:local(.content) {
  margin-bottom: 5px;
}
