:local(.container) {
  max-height: 25px;
}

:local(.icon) {
  -webkit-transition-property: color;
  -webkit-transition-duration: 300ms;
  margin: 0 5px;
  height: auto;
}

:local(.icon):hover {
  cursor: pointer;
  color: #0053b3;
}
